@import './variables';

@mixin basicFont() {
  font-family: 'Manrope', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin flexible($width) {
  display: flex;
  width: $width;
}

@mixin gridable($width) {
  display: grid;
  width: $width;
}

@mixin unmarkedList($padding, $margin) {
  list-style-type: none;
  padding: $padding;
  margin: $margin;
}

@mixin link {
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7;
  }
}

@mixin button($width, $height, $b-radius) {
  @include flexible($width);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: $color-red;
  color: $color-white;
  border-radius: $b-radius;
  height: $height;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.8;
  }
}

@mixin title {
  font-weight: 800;
  margin: 0;
}

@mixin title_48px {
  font-size: 48px;
  line-height: 1.33;
  font-weight: 800;
  text-align: center;
  margin: 0;
  @media screen and (max-width: $tablet) {
    font-size: 44px;
  }
  @media screen and (max-width: $tablet-small) {
    font-size: 40px;
  }
  @media screen and (max-width: $smartphone) {
    font-size: 36px;
  }
}

@mixin text {
  margin: 0;
  font-weight: 400;
}

@mixin text_18px {
  margin: 0;
  font-size: 18px;
  line-height: 1.78;
  @media screen and (max-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (max-width: $tablet-small) {
    font-size: 14px;
  }
}
