$max-width: 1440px;
$color-black: #000000;
$color-darker: #18191f;
$color-dark: #2e2e2e;
$color-gray: #808080;
$color-gray-light: #f4f5f7;
$color-light: #e6e6e6;
$color-white: #ffffff;
$color-red: #f84646;
$header-height-desk: calc(45px + 45px + 20px);
$header-height-mob: calc(35px + 35px + 20px);
$desktop: 1200px;
$tablet: 1024px;
$tablet-small: 864px;
$smartphone: 765px;
$smartphone-small: 576px;
$mobile: 384px;
