$max-width: calc(1440px + (20px * 2));
$color-black: #000000;
$color-darker: #18191f;
$color-dark: #2e2e2e;
$color-gray: #808080;
$color-light: #e6e6e6;
$color-white: #ffffff;
$color-red: #f84646;
$header-height-desk: calc(45px + 45px + 20px);
$header-height-mob: calc(35px + 35px + 20px);
$desktop: 1200px;
$tablet: 1024px;
$tablet-small: 864px;
$smartphone: 576px;
$smartphone: 384px;
