@import '../scss/mixins';
@import '../scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

.root {
  @include gridable(100%);
  box-sizing: border-box;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  @include basicFont();
  background: url(../src/images/bg-header.png) center top no-repeat;
  @media screen and (max-width: $tablet) {
    background-image: url(../src/images/bg-header-mid.png);
  }
  @media screen and (max-width: $smartphone-small) {
    background-position: right -150px top -30px;
  }
}

.header,
.main,
.footer {
  @include gridable(100%);
  box-sizing: border-box;
  max-width: $max-width;
  grid-template-columns: 1fr;
}

.promo,
.services,
.test,
.information,
.clients,
.contact-us {
  @include gridable(100%);
  box-sizing: border-box;
  grid-template-columns: 1fr;
}

.header {
  height: 100%;
  padding-right: 122px;
  @media screen and (max-width: $desktop) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media screen and (max-width: $tablet) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (max-width: $smartphone-small) {
    background-color: rgba($color-light, 0.5);
  }

  &__navigation {
    @include gridable(100%);
    height: $header-height-desk;
    max-width: $max-width;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    @media screen and (max-width: $tablet-small) {
      height: $header-height-mob;
    }
  }
  &__menu {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: $tablet-small) {
      background-color: $color-white;
      position: fixed;
      z-index: 1;
      top: 0;
      left: -320px;
      visibility: hidden;
      align-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      transition: 0.5s;
      opacity: 0;
      font-size: 24px;
      gap: 20px;
      &_opened {
        left: 0;
        display: flex;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
      }
    }
    &-button {
      display: none;
      @media screen and (max-width: $tablet-small) {
        background-color: transparent;
        z-index: 2;
        padding: 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;

        width: 32px;
        height: 32px;

        transition: 0.5s;
        border: none;
        border-radius: 0;
        background-size: contain;

        justify-self: left;
      }
    }
  }
  &__button {
    @include button(91px, 40px, 5px);
    height: 40px;
  }
}

.overlay {
  display: none;
  @media screen and (max-width: $tablet-small) {
    display: block;
    position: fixed;
    top: 0;
    left: -150%;
    display: block;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    background: #292929;
    &_active {
      cursor: pointer;
      right: 0;
      visibility: visible;
      opacity: 0.6;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }
}

.main {
  justify-items: center;
}

.promo {
  padding-left: 122px;
  padding-top: 90px;
  padding-bottom: 148px;
  @media screen and (max-width: $desktop) {
    padding-left: 84px;
  }
  @media screen and (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 123px;
  }
  @media screen and (max-width: $tablet-small) {
    padding-left: 40px;
    padding-right: 40px;
    justify-items: center;
  }
  @media screen and (max-width: $smartphone-small) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    background-color: rgba($color-light, 0.5);
  }
  &__container {
    @include gridable(100%);
    grid-template-columns: 1fr;
    max-width: 665px;
    @media screen and (max-width: $tablet) {
      max-width: 600px;
    }
    @media screen and (max-width: $tablet-small) {
      max-width: 450px;
    }
  }
  &__title {
    @include title();
    font-weight: 800;
    font-size: 64px;
    line-height: 1.28;
    margin-bottom: 10px;
    @media screen and (max-width: $tablet) {
      font-size: 56px;
      line-height: 1.31;
    }
    @media screen and (max-width: $tablet-small) {
      font-size: 42px;
      line-height: 1.36;
      text-align: center;
    }
  }
  &__text {
    @include text();
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 50px;
    @media screen and (max-width: $tablet) {
      font-size: 16px;
      line-height: 1.75;
      max-width: 545px;
    }
    @media screen and (max-width: $tablet-small) {
      font-size: 12px;
    }
  }
  &__form {
    width: 100%;
  }
  &__fieldset {
    @include gridable(100%);
    grid-template-areas: 'area';
    align-items: center;
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 502px;
    justify-items: end;
  }
  &__input {
    box-sizing: border-box;
    grid-area: area;
    padding-left: 32px;
    background-color: $color-white;
    border: none;
    border-radius: 8px;
    height: 73px;
    width: 100%;
    @media screen and (max-width: $tablet-small) {
      height: 60px;
      font-size: 14px;
      padding-left: 20px;
    }
  }
  &__button {
    @include button(136px, 61px, 8px);
    margin-right: 6px;
    grid-area: area;
    @media screen and (max-width: $tablet-small) {
      height: 50px;
      margin-right: 5px;
      font-size: 14px;
    }
  }
}

.services {
  padding-left: 20px;
  padding-right: 20px;
  justify-items: center;
  background-color: $color-white;

  &__container {
    @include gridable(100%);
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 120px 0 140px;
    max-width: 1174px;
    @media screen and (max-width: $tablet) {
      font-size: 12px;
      max-width: 852px;
    }
    @media screen and (max-width: $tablet-small) {
      padding: 90px 0 115px;
    }
    @media screen and (max-width: $smartphone-small) {
      padding: 60px 0 90px;
    }
  }
  &__title {
    @include title();
    font-size: 36px;
    line-height: 1.36;
    margin-bottom: 30px;
    @media screen and (max-width: $tablet-small) {
      font-size: 30px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: $smartphone-small) {
      font-size: 24px;
    }
  }

  &__text {
    max-width: 994px;
    text-align: center;
    width: 100%;
    @include text();
    font-size: 24px;
    line-height: 1.65;
    margin-bottom: 90px;
    @media screen and (max-width: $tablet-small) {
      font-size: 18px;
      margin-bottom: 60px;
    }
    @media screen and (max-width: $smartphone-small) {
      font-size: 14px;
    }
  }

  &__list {
    @include gridable(100%);
    grid-template-columns: repeat(3, 298px);
    justify-content: space-between;
    @include unmarkedList(0, 0);
    row-gap: 88px;
    @media screen and (max-width: $tablet) {
      grid-template-columns: repeat(2, 298px);
      max-width: 764px;
    }
    @media screen and (max-width: $tablet-small) {
      justify-items: center;
      row-gap: 70px;
    }
    @media screen and (max-width: $smartphone) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: $smartphone-small) {
      row-gap: 50px;
    }
    &-item {
      @include flexible(100%);
      max-width: 298px;
      flex-flow: column wrap;
      align-items: center;
      gap: 10px;
    }
  }
  &__icon {
    width: 76px;
    height: 76px;
  }
  &__subtitle {
    @include title();
    font-size: 24px;
    line-height: 1.36;
    @media screen and (max-width: $tablet-small) {
      font-size: 18px;
    }
  }
  &__subtext {
    @include text();
    font-size: 18px;
    text-align: center;
    line-height: 1.55;
    @media screen and (max-width: $tablet-small) {
      font-size: 14px;
    }
  }
}

.test {
  height: 100%;
  background-color: $color-red;
  align-items: center;
  justify-items: center;
  color: $color-white;
  padding: 70px 20px;
  position: relative;
  overflow: hidden;
  &:before {
    content: url(./images/bg-test.png);
    opacity: 0.2;
    position: absolute;
  }
  @media screen and (max-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (max-width: $smartphone-small) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__title {
    @include title_48px();
    margin-bottom: 10px;
  }
  &__text {
    @include text_18px();
    font-weight: 500px;
    margin-bottom: 64px;
    @media screen and (max-width: $tablet) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: $smartphone-small) {
      margin-bottom: 40px;
    }
  }
  &__list {
    @include unmarkedList(0, 0);
    @include flexible(100%);
    justify-content: space-between;
    align-items: center;
    @include text_18px();
    font-weight: 700;
    max-width: 1088px;
    @media screen and (max-width: $tablet-small) {
      flex-direction: column;
      text-align: center;
      gap: 40px;
    }
    @media screen and (max-width: $smartphone-small) {
      gap: 20px;
    }
    &-item {
      @include flexible(auto);
      align-items: center;
      justify-content: center;
      &-separate {
        content: url(./images/circle-right.png);
        width: 32px;
        height: 32px;
        @media screen and (max-width: $tablet-small) {
          width: 28px;
          height: 28px;
          rotate: 90deg;
        }
      }
    }
  }
}

.information {
  padding: 160px 20px;
  justify-items: center;
  gap: 120px;
  @media screen and (max-width: $tablet-small) {
    gap: 90px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media screen and (max-width: $smartphone-small) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__article {
    align-content: space-between;
    justify-content: space-between;
    column-gap: 145px;
    max-width: 1197px;
    @include gridable(100%);
    grid-template-areas:
      'title img'
      'txt img'
      'button img';
    @media screen and (max-width: $desktop) {
      column-gap: 100px;
    }
    @media screen and (max-width: $tablet) {
      column-gap: 30px;
    }
    @media screen and (max-width: $tablet-small) {
      max-width: 500px;
      justify-content: center;
      justify-items: center;
      row-gap: 30px;
      grid-template-areas:
        'img'
        'title'
        'txt'
        'button';
      text-align: center;
    }
    @media screen and (min-width: calc($tablet-small + 1px)) {
      &_reflection {
        grid-template-areas:
          'img title '
          'img txt'
          'img button';
      }
    }
  }
  &__title {
    color: $color-dark;
    font-weight: 700;
    margin: 0;
    font-size: 64px;
    line-height: 1.19;
    grid-area: title;
    @media screen and (max-width: $desktop) {
      font-size: 58px;
    }
    @media screen and (max-width: $tablet-small) {
      font-size: 48px;
    }
    @media screen and (max-width: $smartphone-small) {
      font-size: 36px;
    }
  }
  &__text {
    @include text();
    font-size: 16px;
    line-height: 2;
    color: $color-gray;
    grid-area: txt;
    max-width: 523px;
    @media screen and (max-width: $desktop) {
      font-size: 14px;
    }
  }
  &__image {
    width: 504px;
    height: auto;
    grid-area: img;
    @media screen and (max-width: $desktop) {
      width: 424px;
    }
    @media screen and (max-width: $tablet) {
      align-self: end;
    }
    @media screen and (max-width: $tablet-small) {
      max-width: 500px;
      width: 100%;
    }
  }
  &__button {
    @include button(160px, 48px, 8px);
    grid-area: button;
    align-self: end;
    font-size: 14px;
    @media screen and (max-width: $tablet-small) {
      max-width: auto;
      width: 100%;
    }
  }
}

.clients {
  background-color: $color-gray-light;
  justify-items: center;
  padding: 60px 20px;
  &__title {
    @include title_48px();
  }
  &__text {
    @include text_18px();
    font-weight: 500;
    margin-bottom: 48px;
  }
  &__list {
    @include gridable(100%);
    grid-template-columns: repeat(5, 170px);
    @include unmarkedList(0, 0);
    justify-content: center;
    justify-items: center;

    gap: 24px;
    @media screen and (max-width: $tablet) {
      grid-template-columns: repeat(3, 170px);
      grid-template-rows: repeat(3, 1fr);
    }
    @media screen and (max-width: $smartphone) {
      grid-template-columns: repeat(2, 170px);
      grid-template-rows: repeat(4, 1fr);
    }
    @media screen and (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    &-item {
      @include gridable(100%);
      align-items: center;
      justify-items: center;
      width: 170px;
      height: 96px;
      background-color: $color-white;
      border-radius: 16px;
      &:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
      }
      &:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
      }
      &:nth-of-type(3) {
        grid-column: 2 / 3;
        grid-row: 4 / 6;
      }
      &:nth-of-type(4) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
      }
      &:nth-of-type(5) {
        grid-column: 3 / 4;
        grid-row: 3 / 5;
      }
      &:nth-of-type(6) {
        grid-column: 3 / 4;
        grid-row: 5 / 7;
      }
      &:nth-of-type(7) {
        grid-column: 4 / 5;
        grid-row: 2 / 4;
      }
      &:nth-of-type(8) {
        grid-column: 4 / 5;
        grid-row: 4 / 6;
      }
      &:nth-of-type(9) {
        grid-column: 5 / 6;
        grid-row: 3 / 5;
      }
      @media screen and (max-width: calc($tablet - 1px)) {
        &:nth-of-type(1n) {
          grid-column: auto;
          grid-row: auto;
        }
      }
    }
  }
}

.cross {
  @include gridable(100%);
  align-content: space-between;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  &:before,
  &:after,
  & &__line {
    background: $color-black;
    content: '';
    display: block;
    border-radius: 2px;
    height: 2px;
    transition: 0.5s;
  }
  &:hover {
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &::after {
      transform: translateY(-9.5px) rotate(-135deg);
    }
    &:hover .cross__line {
      transform: scale(0);
    }
  }
}
