@import '../scss/mixins';
@import '../scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

.root {
  align-items: center;

  box-sizing: border-box;

  background: url(../src/images/bg-header.png) center top no-repeat;

  grid-template-columns: 1fr;
  @include gridable(100%);
  @include basicFont();
  justify-items: center;
  @media screen and (max-width: $tablet) {
    background-image: url(../src/images/bg-header-mid.png);
  }
  @media screen and (max-width: $smartphone-small) {
    background-position: right -150px top -30px;
  }
}

.header,
.main,
.footer {
  box-sizing: border-box;
  max-width: $max-width;

  grid-template-columns: 1fr;
  @include gridable(100%);
}

.promo,
.services,
.test,
.information,
.clients,
.contact-us {
  box-sizing: border-box;

  grid-template-columns: 1fr;
  @include gridable(100%);
}

.header {
  height: 100%;
  padding-right: 122px;
  @media screen and (max-width: $desktop) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media screen and (max-width: $tablet) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (max-width: $smartphone-small) {
    background-color: rgba($color-light, 0.5);
  }

  &__navigation {
    align-items: center;
    justify-content: space-between;

    max-width: $max-width;
    height: $header-height-desk;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;

    gap: 40px;
    grid-template-columns: 1fr min-content;
    @include gridable(100%);
    @media screen and (max-width: $tablet-small) {
      height: $header-height-mob;
    }
  }
  &__menu {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;

    gap: 40px;
    @include unmarkedList();
    @include flexible(100%);
    @media screen and (max-width: $tablet-small) {
      position: fixed;
      z-index: 1;
      top: 0;
      left: -320px;

      visibility: hidden;
      align-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      box-sizing: border-box;
      width: 100%;
      max-width: 320px;
      height: 100vh;

      transition: 0.5s;

      opacity: 0;
      background-color: $color-white;

      font-size: 24px;

      gap: 20px;
      &_opened {
        left: 0;

        display: flex;
        visibility: visible;

        transition: 0.5s;

        opacity: 1;
      }
    }
    &-button {
      display: none;
      @media screen and (max-width: $tablet-small) {
        z-index: 2;

        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        padding: 0;

        transition: 0.5s;

        border: none;
        border-radius: 0;
        background-color: transparent;
        background-size: contain;

        justify-self: left;
      }
    }
  }
  &__button {
    height: 40px;

    @include button(91px, 40px, 5px);
  }
  &__link {
    color: $color-black;

    @include link();
  }
}

.overlay {
  display: none;
  @media screen and (max-width: $tablet-small) {
    position: fixed;
    top: 0;
    left: -150%;

    display: block;
    display: block;
    visibility: hidden;

    width: 100%;
    height: 100vh;

    -webkit-transition: 0.5s;
    transition: 0.5s;

    opacity: 0;
    background: #292929;
    &_active {
      right: 0;

      visibility: visible;

      cursor: pointer;
      -webkit-transition: 0.5s;
      transition: 0.5s;

      opacity: 0.6;
    }
  }
}

.main {
  justify-items: center;
}

.promo {
  padding-top: 90px;
  padding-bottom: 148px;
  padding-left: 122px;
  @media screen and (max-width: $desktop) {
    padding-left: 84px;
  }
  @media screen and (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 123px;
  }
  @media screen and (max-width: $tablet-small) {
    padding-right: 40px;
    padding-left: 40px;

    justify-items: center;
  }
  @media screen and (max-width: $smartphone-small) {
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 20px;

    background-color: rgba($color-light, 0.5);
  }
  &__container {
    max-width: 665px;

    grid-template-columns: 1fr;
    @include gridable(100%);
    @media screen and (max-width: $tablet) {
      max-width: 600px;
    }
    @media screen and (max-width: $tablet-small) {
      max-width: 450px;
    }
  }
  &__title {
    margin-bottom: 10px;

    font-size: 64px;
    font-weight: 800;
    line-height: 1.28;

    @include title();
    @media screen and (max-width: $tablet) {
      font-size: 56px;
      line-height: 1.31;
    }
    @media screen and (max-width: $tablet-small) {
      text-align: center;

      font-size: 42px;
      line-height: 1.36;
    }
  }
  &__text {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 1.8;

    @include text();
    @media screen and (max-width: $tablet) {
      max-width: 545px;

      font-size: 16px;
      line-height: 1.75;
    }
    @media screen and (max-width: $tablet-small) {
      font-size: 12px;
    }
  }
  &__form {
    width: 100%;
  }
  &__fieldset {
    align-items: center;

    max-width: 502px;
    margin: 0;
    padding: 0;

    border: 0;

    grid-template-areas: 'area';
    @include gridable(100%);
    justify-items: end;
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 73px;
    padding-left: 32px;

    border: none;
    border-radius: 8px;
    background-color: $color-white;

    grid-area: area;
    @media screen and (max-width: $tablet-small) {
      height: 60px;
      padding-left: 20px;

      font-size: 14px;
    }
  }
  &__button {
    margin-right: 6px;

    grid-area: area;
    @include button(136px, 61px, 8px);
    @media screen and (max-width: $tablet-small) {
      height: 50px;
      margin-right: 5px;

      font-size: 14px;
    }
  }
}

.services {
  padding-right: 20px;
  padding-left: 20px;

  background-color: $color-white;

  justify-items: center;

  &__container {
    max-width: 1174px;
    padding: 120px 0 140px;

    grid-template-columns: 1fr;
    @include gridable(100%);
    justify-items: center;
    @media screen and (max-width: $tablet) {
      max-width: 852px;

      font-size: 12px;
    }
    @media screen and (max-width: $tablet-small) {
      padding: 90px 0 115px;
    }
    @media screen and (max-width: $smartphone-small) {
      padding: 60px 0 90px;
    }
  }
  &__title {
    margin-bottom: 30px;

    font-size: 36px;
    line-height: 1.36;

    @include title();
    @media screen and (max-width: $tablet-small) {
      margin-bottom: 15px;

      font-size: 30px;
    }
    @media screen and (max-width: $smartphone-small) {
      font-size: 24px;
    }
  }

  &__text {
    width: 100%;
    max-width: 994px;
    margin-bottom: 90px;

    text-align: center;

    font-size: 24px;
    line-height: 1.65;

    @include text();
    @media screen and (max-width: $tablet-small) {
      margin-bottom: 60px;

      font-size: 18px;
    }
    @media screen and (max-width: $smartphone-small) {
      font-size: 14px;
    }
  }

  &__list {
    justify-content: space-between;

    grid-template-columns: repeat(3, 298px);
    @include gridable(100%);
    @include unmarkedList();
    row-gap: 88px;
    @media screen and (max-width: $tablet) {
      max-width: 764px;

      grid-template-columns: repeat(2, 298px);
    }
    @media screen and (max-width: $tablet-small) {
      justify-items: center;
      row-gap: 70px;
    }
    @media screen and (max-width: $smartphone) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: $smartphone-small) {
      row-gap: 50px;
    }
    &-item {
      align-items: center;
      flex-flow: column wrap;

      max-width: 298px;

      gap: 10px;
      @include flexible(100%);
    }
  }
  &__icon {
    width: 76px;
    height: 76px;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 1.36;

    @include title();
    @media screen and (max-width: $tablet-small) {
      font-size: 18px;
    }
  }
  &__subtext {
    text-align: center;

    font-size: 18px;
    line-height: 1.55;

    @include text();
    @media screen and (max-width: $tablet-small) {
      font-size: 14px;
    }
  }
}

.test {
  position: relative;

  overflow: hidden;
  align-items: center;

  height: 100%;
  padding: 70px 20px;

  color: $color-white;
  background-color: $color-red;

  justify-items: center;
  &:before {
    position: absolute;

    content: url(./images/bg-test.png);

    opacity: 0.2;
  }
  @media screen and (max-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (max-width: $smartphone-small) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__title {
    margin-bottom: 10px;

    @include title_48px();
  }
  &__text {
    margin-bottom: 64px;

    font-weight: 500px;

    @include text_18px();
    @media screen and (max-width: $tablet) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: $smartphone-small) {
      margin-bottom: 40px;
    }
  }
  &__list {
    align-items: center;
    justify-content: space-between;

    max-width: 1088px;

    font-weight: 700;

    @include unmarkedList();
    @include flexible(100%);
    @include text_18px();
    @media screen and (max-width: $tablet-small) {
      flex-direction: column;

      text-align: center;

      gap: 40px;
    }
    @media screen and (max-width: $smartphone-small) {
      gap: 20px;
    }
    &-item {
      align-items: center;
      justify-content: center;

      @include flexible(auto);
      &-separate {
        width: 32px;
        height: 32px;

        content: url(./images/circle-right.png);
        @media screen and (max-width: $tablet-small) {
          width: 28px;
          height: 28px;

          rotate: 90deg;
        }
      }
    }
  }
}

.information {
  padding: 160px 20px;

  gap: 120px;
  justify-items: center;
  @media screen and (max-width: $tablet-small) {
    padding-top: 90px;
    padding-bottom: 90px;

    gap: 90px;
  }
  @media screen and (max-width: $smartphone-small) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__article {
    align-content: space-between;
    justify-content: space-between;

    max-width: 1197px;

    column-gap: 145px;
    grid-template-areas:
      'title img'
      'txt img'
      'button img';
    @include gridable(100%);
    @media screen and (max-width: $desktop) {
      column-gap: 100px;
    }
    @media screen and (max-width: $tablet) {
      column-gap: 30px;
    }
    @media screen and (max-width: $tablet-small) {
      justify-content: center;

      max-width: 500px;

      text-align: center;

      grid-template-areas:
        'img'
        'title'
        'txt'
        'button';
      justify-items: center;
      row-gap: 30px;
    }
    @media screen and (min-width: calc($tablet-small + 1px)) {
      &_reflection {
        grid-template-areas:
          'img title '
          'img txt'
          'img button';
      }
    }
  }
  &__title {
    margin: 0;

    color: $color-dark;

    font-size: 64px;
    font-weight: 700;
    line-height: 1.19;

    grid-area: title;
    @media screen and (max-width: $desktop) {
      font-size: 58px;
    }
    @media screen and (max-width: $tablet-small) {
      font-size: 48px;
    }
    @media screen and (max-width: $smartphone-small) {
      font-size: 36px;
    }
  }
  &__text {
    max-width: 523px;

    color: $color-gray;

    font-size: 16px;
    line-height: 2;

    grid-area: txt;
    @include text();
    @media screen and (max-width: $desktop) {
      font-size: 14px;
    }
  }
  &__image {
    width: 504px;
    height: auto;

    grid-area: img;
    @media screen and (max-width: $desktop) {
      width: 424px;
    }
    @media screen and (max-width: $tablet) {
      align-self: end;
    }
    @media screen and (max-width: $tablet-small) {
      width: 100%;
      max-width: 500px;
    }
  }
  &__button {
    align-self: end;

    font-size: 14px;

    grid-area: button;
    @include button(160px, 48px, 8px);
    @media screen and (max-width: $tablet-small) {
      width: 100%;
      max-width: auto;
    }
  }
}

.clients {
  padding: 60px 20px;

  background-color: $color-gray-light;

  justify-items: center;
  &__title {
    @include title_48px();
  }
  &__text {
    margin-bottom: 48px;

    font-weight: 500;

    @include text_18px();
  }
  &__list {
    justify-content: center;

    gap: 24px;
    grid-template-columns: repeat(5, 170px);
    @include gridable(100%);
    @include unmarkedList();
    justify-items: center;
    @media screen and (max-width: $tablet) {
      grid-template-columns: repeat(3, 170px);
      grid-template-rows: repeat(3, 1fr);
    }
    @media screen and (max-width: $smartphone) {
      grid-template-columns: repeat(2, 170px);
      grid-template-rows: repeat(4, 1fr);
    }
    @media screen and (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    &-item {
      align-items: center;

      width: 170px;
      height: 96px;

      border-radius: 16px;
      background-color: $color-white;

      @include gridable(100%);
      justify-items: center;
      &:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
      }
      &:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
      }
      &:nth-of-type(3) {
        grid-column: 2 / 3;
        grid-row: 4 / 6;
      }
      &:nth-of-type(4) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
      }
      &:nth-of-type(5) {
        grid-column: 3 / 4;
        grid-row: 3 / 5;
      }
      &:nth-of-type(6) {
        grid-column: 3 / 4;
        grid-row: 5 / 7;
      }
      &:nth-of-type(7) {
        grid-column: 4 / 5;
        grid-row: 2 / 4;
      }
      &:nth-of-type(8) {
        grid-column: 4 / 5;
        grid-row: 4 / 6;
      }
      &:nth-of-type(9) {
        grid-column: 5 / 6;
        grid-row: 3 / 5;
      }
      @media screen and (max-width: calc($tablet - 1px)) {
        &:nth-of-type(1n) {
          grid-column: auto;
          grid-row: auto;
        }
      }
    }
  }
}

.contact-us {
  padding: 160px 20px;

  justify-items: center;
  @media screen and (max-width: $tablet-small) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media screen and (max-width: $smartphone-small) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__icon {
    width: 120px;
    height: 120px;
  }
  &__title {
    @include title_48px();
  }
  &__text {
    margin-bottom: 30px;

    text-align: center;

    font-weight: 500;

    @include text_18px();
  }
  &__button {
    font-size: 24px;

    @include button(204px, 70px, 8px);
    @media screen and (max-width: $tablet-small) {
      width: 180px;
      height: 60px;
    }
    @media screen and (max-width: $smartphone-small) {
      width: 124px;
      height: 42px;

      font-size: 16px;
    }
  }
}

.footer {
  align-items: center;

  padding: 80px 104px 70px;

  color: $color-white;
  background-color: $color-red;

  font-size: 16px;

  grid-template-areas:
    'nav nav'
    'copyright social';
  row-gap: 50px;
  @media screen and (max-width: $desktop) {
    padding-right: 80px;
    padding-left: 80px;
  }
  @media screen and (max-width: $tablet) {
    padding-right: 60px;
    padding-left: 60px;
  }
  @media screen and (max-width: $smartphone) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media screen and (max-width: $smartphone-small) {
    padding-right: 20px;
    padding-left: 20px;

    grid-template-areas:
      'nav'
      'social'
      'copyright';
    row-gap: 30px;
  }
  &__navigation {
    justify-content: space-between;

    max-width: 1034px;

    grid-area: nav;
    grid-template-columns: repeat(4, max-content);
    @include gridable(100%);
    @media screen and (max-width: $tablet-small) {
      justify-content: start;

      gap: 50px 100px;
      grid-template-columns: repeat(2, max-content);
    }
    @media screen and (max-width: $smartphone) {
      column-gap: 50px;
    }
    @media screen and (max-width: $smartphone-small) {
      margin-bottom: 30px;

      grid-template-columns: 1fr;
    }
  }
  &__menu {
    align-content: start;

    color: $color-light;

    line-height: 2;

    @include unmarkedList();
    @include gridable(100%);
    row-gap: 10px;
    &-item {
      &:first-child a {
        color: $color-white;

        font-weight: 700;
      }
    }
  }
  &__link {
    color: $color-light;

    @include link();
  }
  &__copyright {
    grid-area: copyright;
    @include text();
  }
  &__social-links {
    gap: 16px;
    grid-area: social;
    @include unmarkedList();
    @include flexible(100%);
  }
  &__icon {
    width: 32px;
    height: 32px;
  }
  &__link {
    align-items: center;

    @include flexible(100%);
  }
}

.cross {
  align-content: space-between;

  box-sizing: border-box;
  width: 22px;
  height: 22px;

  @include gridable(100%);
  &:before,
  &:after,
  & &__line {
    display: block;

    height: 2px;

    content: '';
    transition: 0.5s;

    border-radius: 2px;
    background: $color-black;
  }
  &:hover {
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &::after {
      transform: translateY(-9.5px) rotate(-135deg);
    }
    &:hover .cross__line {
      transform: scale(0);
    }
  }
}
